.Header {
  word-spacing: 20px;
  color: #fe346e;
  position: absolute;
  top: 250px;
  left: 525px;
  font-size: 70px;
  font-family: 'Roboto Slab', serif;
}
.tagline {
  word-spacing: 10px;
  color: #fe346e;
  position: absolute;
  top: 380px;
  left: 585px;
  font-size: 25px;
  font-family: 'Acme', sans-serif;
}
.Freepik_credits {
  position: absolute;
  top: 1000px;
}
.Section1 {
  height: 800px;
  width: 1519px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f1e7b6;
}
.Home_link {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fe346e;
  position: absolute;
  top: 80px;
  left: 1100px;
}
.Home_link:hover {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 80px;
  left: 1080px;
}
.ContactUs_link {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fe346e;
  position: absolute;
  top: 80px;
  left: 1200px;
}
.ContactUs_link:hover {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 80px;
  left: 1180px;
}
.AboutUs_link {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fe346e;
  position: absolute;
  top: 80px;
  left: 1350px;
}
.AboutUs_link:hover {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 80px;
  left: 1350px;
}
@media screen and (max-width: 414px) {
  .Section1 {
    height: 2700px;
    width: 1519px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1e7b6;
  }
  .Freepik_credits {
    height: 30px;
    position: absolute;
    top: 2700px;
  }
  .Header {
    word-spacing: 20px;
    color: #fe346e;
    position: absolute;
    top: 900px;
    left: 250px;
    font-size: 160px;
    font-family: 'Roboto Slab', serif;
  }
  .tagline {
    word-spacing: 10px;
    color: #fe346e;
    position: absolute;
    top: 1250px;
    left: 300px;
    font-size: 80px;
    font-family: 'Acme', sans-serif;
  }
  .Home_link {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fe346e;
    position: absolute;
    top: 80px;
    left: 100px;
  }
  .Home_link:hover {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 80px;
    left: 100px;
  }
  .ContactUs_link {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fe346e;
    position: absolute;
    top: 80px;
    left: 450px;
  }
  .ContactUs_link:hover {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 80px;
    left: 450px;
  }
  .AboutUs_link {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #fe346e;
    position: absolute;
    top: 80px;
    left: 1000px;
  }
  .AboutUs_link:hover {
    font-size: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 80px;
    left: 1000px;
  }
}
