.Header {
  letter-spacing: 20px;
  word-spacing: 0;
  color: #9a1f40;
  position: absolute;
  top: 250px;
  left: 225px;
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
}
.spiderpic {
  position: absolute;
  top: 20px;
  left: 10px;
  height: 50px;
  width: 50px;
}
.logoname {
  font-size: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  top: 15px;
  left: 100px;
}
.tagline {
  letter-spacing: 10px;
  word-spacing: 20px;
  color: #9a1f40;
  position: absolute;
  top: 380px;
  left: 235px;
  font-size: 30px;
  font-family: 'Acme', sans-serif;
}
.classname {
  position: absolute;
  top: 500px;
  left: 235px;
	-moz-box-shadow: 0px 1px 0px 0px #ffb2dc;
	-webkit-box-shadow: 0px 1px 0px 0px #ffb2dc;
	box-shadow: 0px 1px 0px 0px #ffb2dc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff6682), color-stop(1, #c524ff) );
	background:-moz-linear-gradient( center top, #ff6682 5%, #c524ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6682', endColorstr='#c524ff');
	background-color:#ff6682;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #fb24ff;
	display:inline-block;
	color:white;
	font-family: 'Acme', sans-serif;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #d166ff;
}.classname:hover {
  position: absolute;
  top: 500px;
  left: 235px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c524ff), color-stop(1, #ff6682) );
	background:-moz-linear-gradient( center top, #c524ff 5%, #ff6682 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c524ff', endColorstr='#ff6682');
	background-color:#c524ff;
}.classname:active {
  position: absolute;
  top: 500px;
  left: 235px;
}
.Freepik_credits {
  position: absolute;
  top: 1000px;
}
.img-background {
  position: absolute;
  top: 100px;
  height: 1014px;
}
.Section1 {
  height: 100px;
  width: 1519px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222831;
}
.Home_link {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #32e0c4;
  position: absolute;
  top: 40px;
  left: 1100px;
}
.Home_link:hover {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 40px;
  left: 1100px;
}
.ContactUs_link {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #32e0c4;
  position: absolute;
  top: 40px;
  left: 1200px;
}
.ContactUs_link:hover {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 40px;
  left: 1200px;
}
.AboutUs_link {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #32e0c4;
  position: absolute;
  top: 40px;
  left: 1350px;
}
.AboutUs_link:hover {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  position: absolute;
  top: 40px;
  left: 1350px;
}
@media screen and (max-width: 414px) {
  .Header {
    letter-spacing: 10px;
    word-spacing: 0;
    color: #9a1f40;
    position: absolute;
    top: 250px;
    left: 50px;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
  }
  .spiderpic {
    position: absolute;
    top: 25px;
    left: 10px;
    height: 50px;
    width: 50px;
  }
  .logoname {
    font-size: 0;
  }
  .tagline {
    letter-spacing: 10px;
    word-spacing: 10px;
    color: #9a1f40;
    position: absolute;
    top: 380px;
    left: 50px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
  }
  .classname {
    position: absolute;
    top: 550px;
    left: 50px;
  	-moz-box-shadow: 0px 1px 0px 0px #ffb2dc;
  	-webkit-box-shadow: 0px 1px 0px 0px #ffb2dc;
  	box-shadow: 0px 1px 0px 0px #ffb2dc;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff6682), color-stop(1, #c524ff) );
  	background:-moz-linear-gradient( center top, #ff6682 5%, #c524ff 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6682', endColorstr='#c524ff');
  	background-color:#ff6682;
  	-webkit-border-top-left-radius:6px;
  	-moz-border-radius-topleft:6px;
  	border-top-left-radius:6px;
  	-webkit-border-top-right-radius:6px;
  	-moz-border-radius-topright:6px;
  	border-top-right-radius:6px;
  	-webkit-border-bottom-right-radius:6px;
  	-moz-border-radius-bottomright:6px;
  	border-bottom-right-radius:6px;
  	-webkit-border-bottom-left-radius:6px;
  	-moz-border-radius-bottomleft:6px;
  	border-bottom-left-radius:6px;
  text-indent:0;
  	border:1px solid #fb24ff;
  	display:inline-block;
  	color:white;
  	font-family: 'Acme', sans-serif;
  	font-size:20px;
  	font-weight:bold;
  	font-style:normal;
  height:50px;
  	line-height:50px;
  width:140px;
  	text-decoration:none;
  	text-align:center;
  	text-shadow:0px 1px 0px #d166ff;
  }.classname:hover {
    position: absolute;
    top: 550px;
    left: 50px;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c524ff), color-stop(1, #ff6682) );
  	background:-moz-linear-gradient( center top, #c524ff 5%, #ff6682 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c524ff', endColorstr='#ff6682');
  	background-color:#c524ff;
  }.classname:active {
    position: absolute;
    top: 550px;
    left: 50px;
  }
  .Freepik_credits {
    position: absolute;
    top: 750px;
  }
  .img-background {
    position: absolute;
    top: 100px;
    height: 636px;
    width: 414px;
  }
  .Section1 {
    height: 100px;
    width: 414px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222831;
  }
  .Home_link {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #32e0c4;
    position: absolute;
    top: 40px;
    left: 100px;
  }
  .Home_link:hover {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 40px;
    left: 100px;
  }
  .ContactUs_link {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #32e0c4;
    position: absolute;
    top: 40px;
    left: 175px;
  }
  .ContactUs_link:hover {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 40px;
    left: 175px;
  }
  .AboutUs_link {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #32e0c4;
    position: absolute;
    top: 40px;
    left: 300px;
  }
  .AboutUs_link:hover {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 40px;
    left: 300px;
  }
}
